<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Film Production Site: About</title>
  <link rel="stylesheet" href="..\static\Stylesheet.css">
</head>
<body>
<div class="navbar">
  <a href="Index.html">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Information ▼
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="Films.html">Films</a>
      <a href="About.html">About</a>
      <a href="Diagrams.html">Diagrams</a>
    </div>
  </div>
</div>

<div class="column">
  <h1>About Page</h1>
  <br><br>
  <img src="..\Kom-IT_Shenanigans-Interactive\img\CHICKEN.PNG" 
  alt="A Random Court Case Movie Poster" style="width:60%;height:auto;">
  <br><br>
  <h2>About This Project</h2>
  <br>
  <h2></h2>
</div>

<div class="parallax"></div>



</body>
</html>